section {
  margin-bottom: 50px;
  border-bottom: 1px dotted;
}

#content {
  width: 50%;
  margin: 0 auto;
}

#normal h1 {
  font-family: "Georgia";
  font-style: italic;
  font-weight: normal;
  font-size: 24pt;
}

#normal p {
  text-indent: 1.5em;
  margin: 0;
  font-size: 16pt;
  font-family: "Georgia";
  line-height: 22pt;
}

#outdent h1 {
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: 20pt;
  text-align: center;
}

#outdent p {
  text-indent: -1em;
  text-align: justify;
  margin: 0;
  font-size: 16pt;
  font-family: "Times New Roman";
  line-height: 22pt;
}

#fleuron h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  text-align: center;
  font-size: 22pt;
}

#fleuron p {
  margin: 0;
  margin-bottom: -6pt;
  font-size: 16pt;
  font-family: 'Libre Baskerville', serif;
  line-height: 22pt;
}

#fleuron p:before {
  position: relative;
  top: 5pt;
  font-size: 30pt;
  content: '\2767';
}

#colcap section {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#colcap h1 {
  font-family: "Georgia";
  font-weight: normal;
  text-align: center;
  font-size: 24pt;
}

#colcap p {
  margin: 0;
  font-size: 14pt;
  font-family: "Georgia";
  line-height: 18pt;
}

#colcap p:first-of-type:first-line{
  font-variant: small-caps;
}

#colcap p:first-of-type:first-letter{
  font-variant: normal;
  float: left;
  font-size: 80px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
}

#colcap  p:not(#first) {
  text-indent: 2em;
}